{% extends "_layout" %}
{% set title = "My Work" %}

{% block content %}

	{% if seg == 'my-work' %}
		{% set type = 'myWork' %}
	{% elseif seg  == 'our-work' %}
		{% set type = 'ourWork' %}
	{% endif %}
   <div class="row work">

	{% for entry in craft.entries.section(type).find() %}
	    
	  	<a href="{{ entry.url }}">
		<div class="work_item {% if loop.index % 2 == 0 %}work_item-right{% endif %}">
	       {% set img = entry.headerImage.first() %}
			<img src="{{ img.url }}" alt="">
			
			<div class="work_caption">
			
				<div class="work_title">
				   {{ entry.title }}
				</div>
				<div class="work_year">
	        		{{ entry.year }}
				</div>
			</div>
			
	  	</div>
	  	</a>

	   
	
	{% if loop.index % 2 == 0 %}
		</div>
		<div class="row">

	{% endif %}
	
	{% endfor %}
	
	</div>
	
{% endblock %}
