.row {

    &-nopad {
      padding: 0;
    }
}

.row:after {
  content: "";
  display: table;
  clear: both; 
}

[class*='col-'] {
  float: left;  
  padding-right: 15px;
}

.row [class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1 {
  width: 8.333%; }

.col-2 {
  width: 16.666%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.333%; }

.col-5 {
  width: 41.666%; }

.col-6 {
  width: 50%;}

.col-7 {
  width: 58.333%; }

.col-8 {
  width: 66.666%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.333%; }

.col-11 {
  width: 91.666%; }

.col-12 {
  width: 100%; }

.off-1 {
  margin-left: 8.333%; }

.off-2 {
  margin-left: 16.666%; }

.off-3 {
  margin-left: 25%; }

.off-4 {
  margin-left: 33.333%; }

.off-5 {
  margin-left: 41.666%; }

.off-6 {
  margin-left: 50%; }

.off-7 {
  margin-left: 58.333%; }

.off-8 {
  margin-left: 66.666%; }

.off-9 {
  margin-left: 75%; }

.off-10 {
  margin-left: 83.333%; }

.off-11 {
  margin-left: 91.666%; }


@include phone {
  [class*='col-'] {
    width: 100%;
  }
  
  [class*='off-'] {
    margin-left: 0;
  }
  
}