body {
    font-family: "freight", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 21px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "FoundersGrotesk", sans-serif;
    font-size: 21px;
    font-weight: normal;
}