.menu {
    position: fixed;
    z-index: 100;
    top: 15px;
    right: 20px;
    font-size: 21px;
    text-align: right;
    width: 70%;
    color: white;
    mix-blend-mode: difference;
    font-family: "FoundersGrotesk", sans-serif;

    @include phone {
        display: none;
    }


    a {
        display: inline-block;
        padding-left: 6%;
        
        @include phone {
            padding-left: 3%;
        }
        
        &:hover {
            color: $orange;
        }
        
        &.active {
            color: $orange;
            
            &:hover {
                color: white;
            }
        }
    }
    

    &-info {
        color: $orange;
        
        a {
            &:hover {
                color: black;
            }
        }
        
        a.active {
            color: black;
            &:hover {
                color: $orange;
            }
        }
    }
    
    
}